<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BabySmash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <system.diagnostics>
      <sources>
        <source name="System.Windows.Data" switchName="SourceSwitch">
          <listeners>
            <add name="default"/>
          </listeners>
        </source>
      </sources>
        <switches>
          <add name="SourceSwitch" value="All"/>
        </switches>
        <sharedListeners>
          <add name="default" type="System.Diagnostics.DefaultTraceListener"/>
        </sharedListeners>
        <trace autoflush="true" indentsize="4"></trace>
      </system.diagnostics>
    <userSettings>
        <BabySmash.Properties.Settings>
            <setting name="ForceUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FadeAway" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BitmapEffects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearAfter" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="MouseDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FadeAfter" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FacesOnShapes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sounds" serializeAs="String">
                <value>Speech</value>
            </setting>
            <setting name="CursorType" serializeAs="String">
                <value>Hand</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="TransparentBackground" serializeAs="String">
                <value>False</value>
            </setting>
        </BabySmash.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
